{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="dark"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{% static 'assets/images/favicon.svg' %}" />

    {% comment %} فایل‌های CSS با تگ static بارگذاری می‌شوند {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/dependencies/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dependencies/plyr.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}" />

    {% comment %} این بلاک به صفحات فرزند (مثل home.html) اجازه می‌دهد عنوان صفحه را بازنویسی کنند {% endcomment %}
    <title>قالب آموزشی نابغه - {% block title %}صفحه اصلی{% endblock %}</title>
</head>

<body>

    <div class="flex flex-col min-h-screen bg-background">

        {% comment %} هدر در اینجا include می‌شود {% endcomment %}
        {% include 'partials/_header.html' %}

        {% comment %} محتوای اصلی و متغیر هر صفحه در این بلاک قرار می‌گیرد {% endcomment %}
        {% block content %}
        {% endblock content %}

        {% comment %} فوتر در اینجا include می‌شود {% endcomment %}
        {% include 'partials/_footer.html' %}

    </div>

    {% comment %} فایل‌های JS با تگ static بارگذاری می‌شوند {% endcomment %}
    <script src="{% static 'assets/js/dependencies/alpinejs.min.js' %}"></script>
    <script src="{% static 'assets/js/dependencies/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/dependencies/plyr.min.js' %}"></script>

    <script src="{% static 'assets/js/app.js' %}"></script> <script>
      document.documentElement.classList.add('dark');
      localStorage.setItem('theme', 'dark');
    </script>
    {% comment %} این بلاک برای اسکریپت‌های اختصاصی هر صفحه (در صورت نیاز) است {% endcomment %}
    {% block scripts %}
    {% endblock scripts %}


</body>

</html>